autopep8==1.4.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Script==2.0.6
flask-sqlacodegen==1.1.6.1
Flask-SQLAlchemy==2.3.2
get==2018.11.19
idna==2.8
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==1.4.2
post==2018.11.20
public==2018.11.20
pycodestyle==2.4.0
PyMySQL==0.9.3
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
SQLAlchemy==1.2.18
urllib3==1.24.1
virtualenv==16.4.1
virtualenvwrapper-win==1.2.5
Werkzeug==0.14.1
